@import "../../../styles/prepend";

.wrapper {
  width: 100%;
  height: 72px;
  display: flex;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 100;
  justify-content: center;
  background: $color-background-white;
  border-bottom: 1px solid#DADEE3;

  @include mobile {
    padding-left: 10px;
  }
  
  .bar {
    width: 1146px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logoContainer {
    @include flex;

    .menu {
      background: black;
    }

    .menuInnerNone {
      display: none;
    }

    .menuInner {
      width: 100%;
      background: $color-background-white;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
      transform: translate(0px, 72px) !important;
      z-index: 100;
      padding: 24px 150px 36px 150px;
      @include flex;
      flex-direction: column;
      align-items: center;

      @include mobile {
        padding: 24px 24px 12px 24px;
      }

      .h4Title {
        width: 1146px;
        @include text-subheading-2;
        text-align: start;

        @include mobile {
          width: 100%;
        }
      }

      .menuWrapper {
        width: 1146px;
        display: flex;
        justify-content: space-between;
        margin-top: 46px;

        @include mobile {
          width: 100%;
          margin-top: 28px;
        }
      }

      .menuItemsWrapper {
        @include grid-3-columns;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 28px 74px;
        height: fit-content;

        @include mobile {
          @include grid-1-columns;
          gap: 0px;
          width: 100%;
        }
      }
      
      .menuItemContainer {
        @include flex;
        align-items: center;
        padding: 5px;
        max-height: 45px;

        &:hover {
          background: $color-background-light-blue;
          border-radius: 8px;
        }

        .menuItemRight {
          margin-left: 18px;
          @include text-subheading-3;
          font-size: 16px;
        }

        .menuItemDescription {
          @include text-body-2
        }

        @include mobile {
          width: 100%;
          padding-top: 26px;
          padding-bottom: 26px;
          border-bottom: 1px solid #DADEE3;

          &:last-child {
            border-bottom: none;
          }
        }
      }

      .bannerMenuWrapper {
        width: 264px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        cursor: pointer;

        @include mobile {
          display: none;
        }
      }
    }

    .logoWrapper {
      margin-left: 20px;

      @include mobile {
        max-height: 42px;
        margin-left: 12px;
      }
    }
  }

  @include mobile {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
    border: none;
  }
}