@mixin main-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px 150px 100px 150px;

  @include mobile {
    flex-direction: inherit;
    padding: 0 16px 40px 16px;
  }
}