/**
 * Colors
 */
$color-text-white: #FFFFFF;
$color-text-main-black: #394452;
$color-text-main-neutral-4: #6D7580;
$color-text-main-neutral-6: #A5ABB3;
$color-text-main-light-1: #9099A9;

$color-background-white: #FFFFFF;
$color-background-light-gray: #F8F8F8;
$color-background-light-blue: #E6F2F8;
$color-background-light-blue-gray: #dfebf1;
$color-main-blue: #0175B2;
$color-main-blue-5: rgba(1, 117, 178, 0.05);
$color-red: #E1604D;

/**
 * Layout breakpoints
 */